/* Main Part */

.search_page_logo{
  width: 200px;
}

.search_page_main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: #ffffff;
}

.search_page_search_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* React Auto Suggest Part */

.react-autosuggest__container{
  width: 400px;
}

.react-autosuggest__input {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  outline: none;
  width: 400px;
}
.react-autosuggest__suggestions-container--open{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.react-autosuggest__suggestions-list{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.react-autosuggest__suggestion{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: white;
  color: black;
  transition: all 0.2s ease;
}

.react-autosuggest__suggestion--highlighted{
  background: linear-gradient(45deg, #009dff, #8000ff);
  color: #ffffff;
  transform: scale(1.02);
}

.search_page_search_button{
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 16px;
  margin: 10px;
}

.search_page_search_button:hover{
  cursor: pointer;
  background: linear-gradient(45deg, #009dff, #8000ff);
  color: #ffffff;
  transition: 1s;
}

/* Card Image Part */

.search_page_cards_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search_page_card_box{
  margin: 20px;
}

.search_page_card_image{
  border-radius: 18px;
  background: none;
}

.search_page_card_image:hover{
  transform: scale(1.1);
  transition: 0.3s;
}