.header-bar {
    background-color: white;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    gap: 30px;
    height: 40px;
}

.header-bar-button {
    background-color: white;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: large;
    background: linear-gradient(45deg, #009dff, #8000ff);
    color: transparent;
    font-weight: bold;
    -webkit-background-clip: text;
    transition: all 0.2s ease;
}

.header-bar-button:hover {
    background: linear-gradient(45deg, #009dff, #8000ff);
    color: white;
}

.header-logo {
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #009dff, #8000ff);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header-logo:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

/* Auto Suggest CSS */

.header-bar .react-autosuggest__container {
    width: 50%;
}

.header-bar .react-autosuggest__suggestions-container--open {
    display: flex;
    justify-content: center;
}

.header-bar .react-autosuggest__input {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: large;
    caret-color: #0044ff;
    text-align: center;
    color: #0044ff;
    padding: 10px 15px;
    width: calc(100% - 30px);
}

.header-bar .react-autosuggest__suggestions-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin: 0px 0px;
    width: calc(50% - 40px);
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 13px;
}

.header-bar .react-autosuggest__suggestion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background: linear-gradient(45deg, #009dff, #8000ff);
    color: rgb(255, 255, 255);
    width: calc(100% - 50px);
    transition: all 0.2s ease;
}

.header-bar .react-autosuggest__suggestion--highlighted{
    transform: scale(1.02);
}

/* 
{
  container:                'react-autosuggest__container',
  containerOpen:            'react-autosuggest__container--open',
  input:                    'react-autosuggest__input',
  inputOpen:                'react-autosuggest__input--open',
  inputFocused:             'react-autosuggest__input--focused',
  suggestionsContainer:     'react-autosuggest__suggestions-container',
  suggestionsContainerOpen: 'react-autosuggest__suggestions-container--open',
  suggestionsList:          'react-autosuggest__suggestions-list',
  suggestion:               'react-autosuggest__suggestion',
  suggestionFirst:          'react-autosuggest__suggestion--first',
  suggestionHighlighted:    'react-autosuggest__suggestion--highlighted',
  sectionContainer:         'react-autosuggest__section-container',
  sectionContainerFirst:    'react-autosuggest__section-container--first',
  sectionTitle:             'react-autosuggest__section-title'
}
*/