.header-bar {
    background-color: white;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    gap: 10px;
    height: 40px;
}

.header-logo {
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #009dff, #8000ff);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.header-logo:hover {
    transform: scale(1.1);
}

/* Auto Complete Module */

.custom-autocomplete {
    width: 50%;
    max-width: 1200px;
    position: relative;
}

.custom-autocomplete .header-autocomplete-input {
    width: 100%;
    font-size: larger;
    padding: 10px 0px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    outline: none;
    caret-color: #0044ff;
    color: #0044ff;
}

.autocomplete-suggestion {
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(45deg, #009dff, #8000ff);
    color: white;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    margin: 10px 10px;
    transition: all 0.3s ease;
}

.autocomplete-suggestion.highlighted {
  background: #ffffff;
  color: #0044ff;
  transform: scale(1.02);
  font-weight: bold;
}

.autocomplete-suggestion:hover {
    transform: scale(1.02);
}

.autocomplete-suggestion-list {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-radius: 20px;
    border: none;
    color: black;
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

@media (max-width: 900px) {
    .header-bar {
        background-color: white;
        border: none;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        padding: 5px 5px;
        align-items: center;
        margin: 10px 7px;
        gap: 10px;
        height: 40px;
    }

    .custom-autocomplete {
        flex: 1;
        position: relative;
    }

    .custom-autocomplete .header-autocomplete-input {
        width: 100%;
        font-size: larger;
        padding: 10px 0px;
        border: none;
        border-radius: 15px;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        outline: none;
        caret-color: #0044ff;
        color: #0044ff;
    }

    .autocomplete-suggestion-list {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-radius: 20px;
    border: none;
    color: black;
    list-style: none;
    margin-top: 10px;
    padding: 0;
}
}