.Card_Detail_Box {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 0px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.Flex_Row {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  gap: 30px;
}


.Card_Detail_Box .image-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.Card_Detail_Box img {
  width: 300px;
  height: auto;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  backface-visibility: hidden;
  transition: transform 0.3s;
  background: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Card_Detail_Box .Details_Text {
  flex: 7;
}


.box-style {
  background: linear-gradient(45deg, #009dff, #8000ff);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  margin: 15px;
  text-align: left;
  white-space: pre-wrap;
}

.legalities{
  background: linear-gradient(45deg, #009dff, #8000ff);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  margin: 15px;
  text-align: left;
  white-space: pre-line;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.legalities p{
  margin: 2.5px;
}

.box-style p {
  margin: 5px 0;

}

.box-style p .capitalize{
  text-transform: capitalize;
}

.detail_pages_text {
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(45deg, #009dff, #8000ff);
  color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
}

.Detail_Pages_Card_Number {
  background: linear-gradient(45deg, #009dff, #8000ff);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  margin: 0px;
  text-align: center;
}