.Sign_In_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 15px;
  background-color: #ffffff;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 8%;
  padding: 20px;
}

.Sign_In_Container_Text{
  background: linear-gradient(45deg, #009dff, #8000ff);
  color: transparent;
  font-weight: bold;
  -webkit-background-clip: text;
}

.Sign_In_Logo {
  width: 10%;
  background: linear-gradient(45deg, #009dff, #8000ff);
  margin: 15px;
  border-radius: 15px;
}

.Sign_In_Logo:hover{
  cursor: pointer;
}

.Sign_In_Main_Page{
  text-align: center;
  color: #000000;
  /* padding: 20px; */
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.signInForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.signInForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

.Sign_In_Form_Input {
  padding: 10px;
  margin: 10px;
  border: 2px solid transparent;
  border-radius: 13px;
  background-image: linear-gradient(#fff,#fff), linear-gradient(45deg, #009dff, #8000ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  outline: none;
}

.Sign_In_Button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.Sign_In_Button:hover {
  background: linear-gradient(45deg, #009dff, #8000ff);
  transition: 1s;
}

.signInForm a {
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}